.field-unit.field-unit--address {
  align-items: initial;
}

.address-input {
  height: 32px;
  width: 300px;

  margin-top: 10px;
  margin-left: 12px;
  padding: 0 11px 0 13px;

  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  text-overflow: ellipsis;

  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;

  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);

  &:hover {
    border-color: #4d90fe;
  }
}

.address-map {
  width: 100%;
  height: 200px;

  border: 1px solid #dfe0e1;
  border-radius: 3px;

  &:hover {
    border-color: #b2b3b4;
  }
}
